.DS_Store
**/target/*
*.iml

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml
Будет удалено .idea/checkstyle-idea.xml
Будет удалено .idea/compiler.xml
Будет удалено .idea/copyright/
Будет удалено .idea/encodings.xml
Будет удалено .idea/inspectionProfiles/
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/vcs.xml
